@charset "utf-8";

/* 스킵 내비게이션 */
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff;
background: #333; line-height: 30px; width: 180px; text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#wrap {}
#header {height: 325px; background: url(../img/Frame\ 322.png) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#contents {}
#footer {height: 200px; background: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav {background: #f6f8fa;}
#cont_tit {background: #EEEFFF;}
#cont_ban {background: #cfd0ff;}
#cont_cont {background: #e0e0ff;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; /*background: rgba(225, 225, 225, 0.3);*/}

/* 헤더 */
.header .header_menu {text-align: right;}
.header .header_menu a {color: #fff; padding: 10px 0px 10px 6.5px; display: inline-block;} 
.header .header_menu a:hover {color: #666;}
.header .header_menu span {color: #fff; display: inline-block; padding: 0; margin-left: 6.5px; text-align: center;}
.header .header_tit {text-align: center;}
.header .header_tit h1 {display: inline-block; background-color: #4E8AFF;
color: #fff; padding: 5px 20px 6px 20px; margin-top: 40px; font-weight: normal; text-transform: uppercase;}
.header .header_tit a {display: inline-block; background-color: #B0B3FF;
    font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;
}
.header .header_icon {text-align: center; margin-top: 30px;}
.header .header_icon a{width: 60px; height: 60px; display: inline-block; background:url(../img/icon\ 1_edited.png); margin:5px;}
.header .header_icon a.icon1 {background-position: 0 0;}
.header .header_icon a.icon2 {background-position: 0 -60px;}
.header .header_icon a.icon3 {background-position: 0 -120px;}
.header .header_icon a.icon4 {background-position: 0 -180px;}
.header .header_icon a.icon1:hover {background-position: -60px 0;}
.header .header_icon a.icon2:hover {background-position: -60px -60px;}
.header .header_icon a.icon3:hover {background-position: -60px -120px;}
.header .header_icon a.icon4:hover {background-position: -60px -180px;}

/* float: left 로 인한 구조 깨짐(height:0) 방지법
1. 깨지는 영역에 똑같이 float: left를 사용(X) -> 모든 박스에 float: left를 사용하게 됨.
2. float의 성질을 차단하는 clearL both;를 사용한다. (X) -> 어떤 영역이 깨졌는지 찾기 어려움.
3. float을 사용한 상위 박스한테 overflow: hidden을 사용합니다. (O) -> 현재 가장 많이 사용 
4. clearfix를 사용합니다. (O) */

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}
.nav > div h3 {font-size: 18px; color: #4E8AFF; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
/* .nav > div ol li {text-decoration: underline;} */

/* 타이틀 */
.tit {position: relative;}
.tit h2 {font-family: 'Nanum Pen Script', cursive; font-size: 40px; text-align: center; padding: 5px 0; letter-spacing: 2px; color:#B0B3FF;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px;
background: url(../img/icon\ 1_edited.png) no-repeat 0 -600px;}

/* 배너 */
.ban {position: relative; padding: 24px 0 20px;}
.ban a.prev {position: absolute; top:60px; left: -80px; width: 43px; height: 43px;
background: url(../img/icon\ 1_edited.png) no-repeat -150px 0;}
.ban a.next {position: absolute; top:60px; right: -80px; width: 43px; height: 43px;
background: url(../img/icon\ 1_edited.png) no-repeat -150px -43px;}
.ban a.prev:hover {background: url(../img/icon\ 1_edited.png) no-repeat -193px 0;}
.ban a.next:hover {background: url(../img/icon\ 1_edited.png) no-repeat -193px -43px;}
.ban ul {overflow: hidden;}
.ban ul li {float: left; width: 330px;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li img {border: 4px solid #B0B3FF;}
.ban ul li img:hover { border-color: #4E8AFF; }
.ban ul li.img_des1 {text-align: center; width: 300px;}
.ban ul li.img_des2 {text-align: center; width: 400px;}
.ban ul li.img_des3 {text-align: center; width: 280px;}

/* 컨텐츠 */
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {position: relative; float: left; width: 289px; height: 363px;;
margin: 0 30px 30px 0; padding-right: 30px; }
.cont .col1 {border-right: 1px solid #c8c8c8;}
.cont .col2 {border-right: 1px solid #c8c8c8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #c8c8c8;}
.cont .col5 {border-right: 1px solid #c8c8c8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display: block; width: 60px; height: 60px;
background: url(../img/icon\ 1_edited.png) no-repeat; position: absolute; left: 0; top: 0;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color:#7b7fff }
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #d0d0d0;
padding-bottom: 15px;}

.cont .col1 .ico_img {background-position: 0 -240px;}
.cont .col2 .ico_img {background-position: 0 -300px;}
.cont .col3 .ico_img {background-position: 0 -360px;}
.cont .col4 .ico_img {background-position: 0 -420px;}
.cont .col5 .ico_img {background-position: 0 -480px;}
.cont .col6 .ico_img {background-position: 0 -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}